<configuration>
	<system.webServer>
		<!-- ASP.NET Core uygulaması için ayar -->
		<aspNetCore processPath="dotnet" arguments=".\HotelApiProject.dll">
			<environmentVariables>
				<!-- Ortam değişkenlerini ayarlayın -->
				<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
				<environmentVariable name="ASPNETCORE_LOGGING__CONSOLE__ENABLED" value="true" />
			</environmentVariables>

			<!-- Uygulama stdout logları için günlük kaydı yap -->
			<stdoutLogEnabled>true</stdoutLogEnabled>
			<stdoutLogFile path=".\logs\stdout" />
		</aspNetCore>
	</system.webServer>
</configuration>
