<div class="nav-header" style="background-color: #7a6ff0; padding: 10px 0; display: flex; justify-content: center; align-items: center;">
    <div class="brand-logo" style="display: flex; justify-content: center; align-items: center;">
        <a href="index.html">
            <img src="~/adminweb/images/Nar.svg" alt="NAR Logo" style="height: 50px; width: auto;">
        </a>
    </div>
</div>
