<div class="nav-header" style="background-color: #7a6ff0; padding: 10px 0; display: flex; justify-content: center; align-items: center;">
    <div class="brand-logo" style="display: flex; justify-content: center; align-items: center;">
        <a href="index.html">
            <h1>OtelCo</h1>
        </a>
    </div>
</div>
